<section class="colophon">
    <section class="copyright">Copyright &copy; <span itemprop="copyrightHolder">{{@blog.title}}</span>. <span rel="license">Some Rights Reserved</span>.</section>
</section>
<section class="bottom">
    <section class="attribution">
        <a href="http://github.com/Reedyn/Saga">Built with <i class="fa fa-heart"></i> and Free and Open-Source Software</a>.
    </section>
</section>
