<section class="colophon">
    <section class="copyright">Copyright &copy; <span itemprop="copyrightHolder">{{@blog.title}}</span>. <span rel="license">All Rights Reserved</span>.</section>
</section>
</section>
