<nav class="links fadeIn animated">
    <ul>
        <li class="rss"><a title="RSS Feed" href="/rss/"><i class="fa fa-fw fa-rss-square"></i></a></li>
        <li class="github"><a title="Twitter" href="https://twitter.com/greenspa"><i class="fa fa-fw fa-twitter-square"></i></a></li>
    </ul>
</nav>
